manifest {
    name            = 'nextflow-rna-methy-omics-data-analysis'
    author          = 'seekgene'
    description     = 'Nextflow SeekOne DD Single Cell Multiome Methylation + RNA analysis pipeline'
    version         = '2.1.2'
    nextflowVersion = '>=21.04.0'
}
params {
    workflow             = 'rna_met'
    samplesheet          = null
    outdir               = './results'
    workdir              = './work'
    database_dir         = ''
    genomeDir            = "${params.database_dir}/star"
    genomefa             = "${params.database_dir}/fasta/genome.fa"
    gtf                  = "${params.database_dir}/genes/genes.gtf"
    bismark_ref          = "${params.database_dir}/fasta/"
    chrom_size_path_full = "${params.database_dir}/bed/chr_len.bed"
    chrom_size_path      = "${params.database_dir}/bed/chr_nochrM.bed"
    methy_barcode_wl     = "${projectDir}/bin/barcodes/U3CB_methylation.txt"
    chemistry            = 'DD-MET3'
    exp_chemistry        = "${params.chemistry == 'DD-MET5' ? 'DD-MET5' : 'DDV2'}"
    cbcsv                = "${params.chemistry == 'DD-MET5' ? projectDir + '/bin/barcodes/ME5_bUCB3_whitelist.csv' : projectDir + '/bin/barcodes/DD-M_bUCB3_whitelist.csv'}"
    split_fastq          = 4
    filter_ch            = 2
    project              = null
    force_cell_number    = null
    pre_analysis_path    = null
    pre_outdir           = "${params.pre_analysis_path}/nextflowYaml/results"
    sample               = null
    help                 = false
}

workDir = (params.workdir ?: './work').toString().replaceAll('\\s+', '_')
plugins {
    id 'nf-k8s@1.2.2'
}

resume = true
cleanup = false
trace {
    enabled = true
    file    = 'execution_trace.txt'
    overwrite = true
}

report {
    enabled = true
    file    = 'execution_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file    = 'execution_timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file    = 'pipeline_dag.html'
    overwrite = true
}

profiles {
    // Kubernetes
    aliyun_k8s {
        process.container = 'seekgene-registry-vpc.cn-beijing.cr.aliyuncs.com/seekgene/seeksoulmethyl:1.1.2'
        process.executor = 'k8s'
        k8s {
            namespace = 'nextflow'
            serviceAccount = 'default'
            storageClaimName = 'nextflow-proj2-pvc'
            storageMountPath = '/PROJ2/'
            imagePullPolicy = 'IfNotPresent'
            debug {
                yaml = true
            }
            pod = [
                [imagePullSecrets: 'regcred' ],
                [ttlSecondsAfterFinished: 604800],
                [env: 'AccessKeyId', secret:'lv-oss/AccessKeyId'],
                [env: 'AccessKeySecret', secret:'lv-oss/AccessKeySecret'],
                [label: 'alibabacloud.com/acs', value: 'true'],
                [label: 'alibabacloud.com/compute-class', value: 'general-purpose'],
                [annotation: 'alibabacloud.com/custom-tags', value: 'ARGO_NODE_ID:' + (System.getenv('ARGO_NODE_ID') ?: 'unknown') ],
                [annotation: 'alibabacloud.com/cpu-vendors', value: 'intel,amd' ]

            ]
        }
    }
    aliyun_k8s_argo {
        process.container = 'seekgene-registry-vpc.cn-beijing.cr.aliyuncs.com/seekgene/seeksoulmethyl:1.1.2'
        process.executor = 'k8s'
        k8s {
            namespace = 'argo'
            serviceAccount = 'default'
            storageClaimName = 'standard3-pvc'
            storageMountPath = '/proj'
            imagePullPolicy = 'IfNotPresent'
            debug {
                yaml = true
            }
            pod = [
                [imagePullSecrets: 'regcred' ],
                [ttlSecondsAfterFinished: 604800],
                [env: 'AccessKeyId', secret:'lv-oss/AccessKeyId'],
                [env: 'AccessKeySecret', secret:'lv-oss/AccessKeySecret'],
                [volumeClaim: "data-pvc", mountPath: "/data" ],
                [volumeClaim: "reference-pvc", mountPath: "/reference" ],
                [label: 'alibabacloud.com/acs', value: 'true'],
                [label: 'alibabacloud.com/compute-class', value: 'general-purpose'],
                [annotation: 'alibabacloud.com/custom-tags', value: 'ARGO_NODE_ID:' + (System.getenv('ARGO_NODE_ID') ?: 'unknown') ],
                [annotation: 'alibabacloud.com/cpu-vendors', value: 'intel,amd' ]
            ]
        }
    }
    docker {
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = '-u $(id -u):$(id -g) '
        process.container = 'ghcr.io/weiiioyo/seeksoulmethyl_docker'
    }
}

process {
    cpus      = 2
    memory    = '4.GB'
    errorStrategy = 'retry'
    maxRetries = 3
    maxSubmitAwait = 30.m
    pod = {
        task.attempt <= 1 ? [
            [label: 'alibabacloud.com/compute-qos', value: 'best-effort']] 
            : 
            [[label: 'alibabacloud.com/compute-qos', value: 'default']]
    }
    withName: 'COMPUTE_CPG_SITES' {
        cpus = 2
        memory = '10 GB'
    }

    withName: 'GTF_TO_GENE_BED' {
        cpus = 2
        memory = '10 GB'
    }

    withName: 'FASTP_EXPRESSION_MULTI' {
        cpus = 16
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (30.GB) }
    }

    withName: 'FASTP_METHYLATION_MULTI' {
        cpus = 16
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (30.GB) }
    }

    withName: 'SEEKSOULTOOLS_RNA' {
        cpus = 16
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (64.GB) }
    }

    withName: 'METHYLATION_BARCODE_EXTRACTION' {
        cpus = 16
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (120.GB) }
    }

    withName: 'FASTP_METHYLATION_BARCODE_EXTRACT' {
        cpus = 6
        memory = '20 GB'
    }

    withName: 'FASTP_METHYLATION_BARCODE_EXTRACT_F' {
        cpus = 6
        memory = '20 GB'
    }

    withName: 'FASTP_METHYLATION_BARCODE_EXTRACT_R' {
        cpus = 6
        memory = '20 GB'
    }

    withName: 'SORT_BAM_BY_NAME' {
        cpus = 10
        memory = '12 GB'
    }

    withName: 'SORT_BAM_BY_NAME_F' {
        cpus = 10
        memory = '12 GB'
    }

    withName: 'SORT_BAM_BY_NAME_R' {
        cpus = 10
        memory = '12 GB'
    }

    withName: 'SPLIT_BAM_FILES' {
        cpus = 4
        memory = '20 GB'
    }
    
    withName: 'SPLIT_BAM_FILES_F' {
        cpus = 4
        memory = '20 GB'
    }

    withName: 'SPLIT_BAM_FILES_R' {
        cpus = 4
        memory = '20 GB'
    }

    withName: 'PARSE_FASTQ_FILES' {
        cpus = 2
        memory = '4 GB'
    }
    
    withName: 'CREATE_FORWARD_PAIRS' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'CREATE_REVERSE_PAIRS' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'BISMARK_ALIGNMENT_FORWARD' {
        cpus = 32
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (80.GB) }
    }

    withName: 'BISMARK_ALIGNMENT_REVERSE' {
        cpus = 32
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (80.GB) }
    }

    withName: 'MERGE_FILTERED_BARCODE_READS_COUNTS' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'ALLCOOLS_BAM_TO_ALLC' {
        cpus = 32
        memory = '64 GB'
    }

    withName: 'ALLCOOLS_GENERATE_DATASETS' {
        cpus = 32
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (32.GB) }
    }

    withName: 'MERGE_MCDS' {
        cpus = 2
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (4.GB) }
    }

    withName: 'ALLCOOLS_SUBMERGE' {
        cpus = 24
        memory = '48 GB'
    }

    withName: 'ALLCOOLS_MERGE' {
        cpus = 24
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (48.GB) }
    }

    withName: 'ALLCOOLS_EXTRACT' {
        cpus = 2
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (10.GB) }
    }

    withName: 'METHYLATION_SUMMARY' {
        cpus = 2
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (10.GB) }
    }

    withName: 'METHYLATION_LSI_PCA_CLUSTERING' {
        cpus = 8
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (32.GB) }
        maxForks = 1
    }

    withName: 'COUNTS_MAPPED_READS' {
        cpus = 4
        memory = '16 GB'
    }
    withName: 'COUNTS_MAPPED_READS_F' {
        cpus = 4
        memory = '16 GB'
    }
    withName: 'COUNTS_MAPPED_READS_R' {
        cpus = 4
        memory = '16 GB'
    }

    withName: 'ESTIMATED_CELLS' {
        cpus = 4
        memory = '16 GB'
    }

    withName: 'MULTI_REPORT' {
        cpus = 8
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (32.GB) }
    }

    withName: 'RUN_RNA_FORCE' {
        cpus = 16
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (64.GB) }
    }

    withName: 'FORCE_CELL_MERGE_AND_SUBSET_MCDS' {
        cpus = 4
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (32.GB) }
    }
    withName: 'ALLCOOLS_GENERATE_DATASETS_PART' {
        cpus = 16
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (16.GB) }
    }

}
