manifest {
    name            = 'nextflow-rna-methy-omics-data-analysis'
    author          = 'seekgene'
    description     = 'Nextflow SeekGene RNA-MET data analysis pipeline'
    version         = '1.0.7'
    nextflowVersion = '>=21.04.0'
    mainScript      = 'main.nf'
}

plugins {
    id 'nf-k8s@1.2.2'
}

resume = true
cleanup = false
trace {
    enabled = true
    file    = 'execution_trace.txt'
    overwrite = true
}

report {
    enabled = true
    file    = 'execution_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file    = 'execution_timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file    = 'pipeline_dag.html'
    overwrite = true
}

profiles {
    // Kubernetes
    aliyun_k8s {
        process.container = 'registry-vpc.cn-beijing.aliyuncs.com/seekgene/seeksoulmethyl:1.1.2'
        process.executor = 'k8s'
        k8s {
            namespace = 'nextflow'
            serviceAccount = 'default'
            storageClaimName = 'nextflow-proj2-pvc'
            storageMountPath = '/PROJ2/'
            imagePullPolicy = 'IfNotPresent'
            debug {
                yaml = true
            }
            pod = [
                [env: 'AccessKeyId', secret:'lv-oss/AccessKeyId'],
                [env: 'AccessKeySecret', secret:'lv-oss/AccessKeySecret'],
                [label: 'alibabacloud.com/acs', value: 'true'],
                [label: 'alibabacloud.com/compute-class', value: 'general-purpose'],
                [annotation: 'alibabacloud.com/custom-tags', value: 'ARGO_NODE_ID:' + (System.getenv('ARGO_NODE_ID') ?: 'unknown') ]

            ]
        }
    }
    aliyun_k8s_argo {
        process.container = 'registry-vpc.cn-beijing.aliyuncs.com/seekgene/seeksoulmethyl:1.1.2'
        process.executor = 'k8s'
        k8s {
            namespace = 'argo'
            serviceAccount = 'default'
            storageClaimName = 'standard3-pvc'
            storageMountPath = '/proj'
            imagePullPolicy = 'IfNotPresent'
            debug {
                yaml = true
            }
            pod = [
                [env: 'AccessKeyId', secret:'lv-oss/AccessKeyId'],
                [env: 'AccessKeySecret', secret:'lv-oss/AccessKeySecret'],
                [volumeClaim: "data-pvc", mountPath: "/data" ],
                [volumeClaim: "reference-pvc", mountPath: "/reference" ],
                [label: 'alibabacloud.com/acs', value: 'true'],
                [label: 'alibabacloud.com/compute-class', value: 'general-purpose'],
                [annotation: 'alibabacloud.com/custom-tags', value: 'ARGO_NODE_ID:' + (System.getenv('ARGO_NODE_ID') ?: 'unknown') ]
            ]
        }
    }
    docker {
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = '-u $(id -u):$(id -g) -v /PROJ2:/PROJ2'
        process.container = 'registry-vpc.cn-beijing.aliyuncs.com/seekgene/seeksoulmethyl:1.1.2'
    }
}

process {
    cpus      = 2
    memory    = '4.GB'
    errorStrategy = 'retry'
    maxRetries = 3
    pod = {
        task.attempt <= 2 ? [
            [label: 'alibabacloud.com/compute-qos', value: 'best-effort']] 
            : 
            [[label: 'alibabacloud.com/compute-qos', value: 'default']]
    }
    withName: 'COMPUTE_CPG_SITES' {
        cpus = 2
        memory = '10 GB'
    }

    withName: 'GTF_TO_GENE_BED' {
        cpus = 2
        memory = '10 GB'
    }

    withName: 'FASTP_EXPRESSION_MULTI' {
        cpus = 16
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (64.GB) }
    }

    withName: 'FASTP_METHYLATION_MULTI' {
        cpus = 16
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (64.GB) }
    }

    withName: 'SEEKSOULTOOLS_RNA' {
        cpus = 16
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (64.GB) }
    }

    withName: 'METHYLATION_BARCODE_EXTRACTION' {
        cpus = 64
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (120.GB) }
    }

    withName: 'FASTP_METHYLATION_BARCODE_EXTRACT' {
        cpus = 6
        memory = '20 GB'
    }

    withName: 'FASTP_METHYLATION_BARCODE_EXTRACT_F' {
        cpus = 6
        memory = '20 GB'
    }

    withName: 'FASTP_METHYLATION_BARCODE_EXTRACT_R' {
        cpus = 6
        memory = '20 GB'
    }

    withName: 'SORT_BAM_BY_NAME' {
        cpus = 10
        memory = '12 GB'
    }

    withName: 'SORT_BAM_BY_NAME_F' {
        cpus = 10
        memory = '12 GB'
    }

    withName: 'SORT_BAM_BY_NAME_R' {
        cpus = 10
        memory = '12 GB'
    }

    withName: 'SPLIT_BAM_FILES' {
        cpus = 4
        memory = '20 GB'
    }
    
    withName: 'SPLIT_BAM_FILES_F' {
        cpus = 4
        memory = '20 GB'
    }

    withName: 'SPLIT_BAM_FILES_R' {
        cpus = 4
        memory = '20 GB'
    }

    withName: 'PARSE_FASTQ_FILES' {
        cpus = 2
        memory = '4 GB'
    }
    
    withName: 'CREATE_FORWARD_PAIRS' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'CREATE_REVERSE_PAIRS' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'BISMARK_ALIGNMENT_FORWARD' {
        cpus = 36
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (60.GB) }
    }

    withName: 'BISMARK_ALIGNMENT_REVERSE' {
        cpus = 36
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (60.GB) }
    }

    withName: 'MERGE_FILTERED_BARCODE_READS_COUNTS' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'ALLCOOLS_BAM_TO_ALLC' {
        cpus = 32
        memory = '64 GB'
    }

    withName: 'ALLCOOLS_GENERATE_DATASETS' {
        cpus = 64
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (64.GB) }
    }

    withName: 'ALLCOOLS_SUBMERGE' {
        cpus = 60
        memory = '150 GB'
    }

    withName: 'ALLCOOLS_MERGE' {
        cpus = 60
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (150.GB) }
    }

    withName: 'ALLCOOLS_EXTRACT' {
        cpus = 2
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (10.GB) }
    }

    withName: 'METHYLATION_SUMMARY' {
        cpus = 2
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (10.GB) }
    }

    withName: 'METHYLATION_LSI_PCA_CLUSTERING' {
        cpus = 8
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (32.GB) }
        maxForks = 1
    }

    withName: 'COUNTS_MAPPED_READS' {
        cpus = 4
        memory = '16 GB'
    }
    withName: 'COUNTS_MAPPED_READS_F' {
        cpus = 4
        memory = '16 GB'
    }
    withName: 'COUNTS_MAPPED_READS_R' {
        cpus = 4
        memory = '16 GB'
    }

    withName: 'ESTIMATED_CELLS' {
        cpus = 4
        memory = '16 GB'
    }

    withName: 'MULTI_REPORT' {
        cpus = 8
        memory = { task.attempt > 2 ? task.previousTrace.memory * 2 : (32.GB) }
    }

}
