          <div class="card">
            <div style="display: inline">
              <div class="has_desc" onclick="show_description(event)">
                <div class="summary_description" style="display: none;">
                    <dl>
                      <dt>Number of reads</dt>
                      <dd lang="en" class="translation">Total reads</dd>
                      <dd lang="zh" class="translation" style="display: none;">Total reads</dd>
                      <dt>Valid Barcode</dt>
                      <dd lang="en" class="translation">Fraction of reads with valid barcodes</dd>
                      <dd lang="zh" class="translation" style="display: none;">Fraction of reads with valid barcodes</dd>
                      <dt>Sequencing Saturation</dt>
                      <dd lang="en" class="translation">The proportion of reads derived from previously observed UMIs. This is influenced by the complexity of the library and the depth of sequencing.</dd>
                      <dd lang="zh" class="translation" style="display: none;">Sequencing Saturation</dd>
                      <dt>Trimmed</dt>
                      <dd lang="en" class="translation">Number of reads that have been trimmed</dd>
                      <dd lang="zh" class="translation" style="display: none;">Number of reads that have been trimmed</dd>
                      <dt>Too short</dt>
                      <dd lang="en" class="translation">Number of reads that are shorter than 60bps after trimming</dd>
                      <dd lang="zh" class="translation" style="display: none;">Number of reads that are shorter than 60bps after trimming</dd>
                      <dt>Q30 Bases in Barcode</dt>
                      <dd lang="en" class="translation">Fraction of reads with valid barcodes in which the barcode have a base quality score greater than 30</dd>
                      <dd lang="zh" class="translation" style="display: none;">Fraction of reads with valid barcodes in which the barcode have a base quality score greater than 30</dd>
                      <dt>Q30 Bases in UMI</dt>
                      <dd lang="en" class="translation">Fraction of reads with valid barcodes in which the UMI have a base quality score greater than 30</dt>
                      <dd lang="zh" class="translation" style="display: none;">Fraction of reads with valid barcodes in which the UMI have a base quality score greater than 30</dd>
                    </dl>
                </div>
              </div>
            <h1>Sequencing</h1>
            </div>
            <table class="table table-hover">
              {% for key, value in sequencing_table.items() %}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {% endfor %}
            </table>                   
          </div>
